Package: com.shepgoba.downloadbar13
Name: DownloadBar13
Description: Show a progress bar for downloading apps instead! Confirmed worked on iOS 15/rootless.
Maintainer: alias20
Author: shepgoba
Section: Tweaks
Depends: mobilesubstrate
Architecture: iphoneos-arm64
Version: 1.0.2
Installed-Size: 168
Size: 5676
MD5: 7863f88a33bf53b0cb6ae34283b5f570
SHA1: c3324a619006bd387ab5f6d84431a63625a9e4a6
SHA256: fcbda154ec108da873bb9debc4ff03b0f5d4a8afd3409333f2292e08dd7f98e1
