Package: xyz.xninja.systeminfo
Name: System Info
Depends: mobilesubstrate
Version: 2.7.2-2
Architecture: iphoneos-arm64
Description: System information in Settings app > General > About, and other sections. ECID, UDID, Battery Cycles ,battery info etc
Depiction: https://sileotweak.github.io/Sileo-Depiction-WebViews/?json=https://sileotweak.github.io/package/Axon/SileoDepiction.json&name=SystemInfo&dev=ARX8x
SileoDepiction: https://sileotweak.github.io/package/SystemInfo/SileoDepiction.json
Maintainer: SileoTweak
Author: ARX8x
Filename: ./package/SystemInfo/xyz.xninja.systeminfo_2.7.2-2_iphoneos-arm64.deb
Section: Tweaks
Installed-Size: 750
Size: 368992 
MD5: 53af70031634c49a8025620efc1b5a81
SHA1: 87b028e952519e8b555b9224977aff174da2e22a
SHA256: 6418a76d259f7403609b37c3855c91fd9604f5d6529ca3875d51f3c495e78076
